* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
:root {
    --white: #fff;
    --red: #BF0411;
    --black: #000000;
    --gray: #f06a6a;
    --gray2: #d8d8d8;
}
body {
    background-color: var(--gray2);
}
/*HEADER*/
.cabeza {
    max-width: 960px;
    margin: 0 auto;
    background: var(--white);
    height: 5rem;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    padding-top:0.3rem;
}
.cabeza ul {
    display: flex;
    justify-content: center;
}
.cabeza ul li {
    display: inline-block;
    padding: 10px 0;
    margin: 0 12px;
}
.cabeza ul li a {
    font-size: 1.4rem;
    padding: 0px 0px;
    font-weight: 600;
    letter-spacing: 1px;
    font-style: none;
    color: var(--black);
}
.carrito_derecha {
    padding: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black);
}
.fa-cart-shopping {
    margin-top: 0.4rem;
}
.carrito_derecha:hover {
    color: var(--red);
    transition: 0.3s;
}
.cabeza ul li a:hover {
    color: var(--red);
    transition: 0.3s;
}
.menu {
    padding-top: 0.4rem;
}
/*HERO*/
.slider {
    display: none;
}
.titulos_productos {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color:var(--white);
    background-color: var(--red);
    padding: 0.8rem 0.8rem 0.5rem 2.8rem;
}
.estilo_titulos {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.7rem;
}
.puntitos {
    margin: -0.3rem 0 0 0.8rem;
}
.container {
    position: relative;
    height: 680px;
    width: 960px;
    overflow: hidden;
    margin: 0 auto;
}
.container a {
    float: left;
    margin: 20px;
}
.big {
    position: absolute;
    top: 260px;
    left: 20px;
}
.big {
    position: absolute;
    top: 900px;
    left: 20px;
    transition: top 1s ease;
}
.featured {
    top: 260px;
    left: 20px;
    z-index: -3;
}
a:hover .thumb {
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5); 
    transition: 0.6s;
}
a:hover .big {
    top: 260px;
}
/*PRODUCTOS*/
.container_productos {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
}
.productos {
    max-width: 200px;
    margin: 0 auto;
    background-color: var(--white);
    margin-top: 1rem;
}
.zoom {
    max-width: 200px;
    overflow: hidden;
}
.zoom:hover img {
    transform: scale(1.3);
    transition: 1s;
}
.imagen_producto {
    width: 100%;
    height: auto;
}
.estilo_h2 {
    font-weight: 500;
    font-size: 1.4rem;
    padding: 0.3rem 0 0.3rem 0.3rem;
}
.estilo_h3 {
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--white);
    background-color: var(--black);
    padding: 0.4rem;
}
.boton_shop a {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.4rem;
    padding: 0.5rem 0 0.5rem 0.3rem;
    color: var(--red);
    display: inline-block;
}
.boton_shop a:hover {
    color: var(--black);
}
/*FOOTER*/
.abajo {
    height:60px;
    background-color: var(--white);
    border-top: 1px solid var(--black);
    max-width: 960px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social {
    display: flex;
}
.social a {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--black);
    padding: 0 10px;
}
.menu {
    display: flex;
    align-items: center;
}
.menu li {
    display: inline-block;
    padding: 0 10px;
}
.menu li a {
    font-style: none;
    font-size: 1.5rem;
    color: var(--black);
    font-weight: 500;
    letter-spacing: 1px;
}
.fa-cart-shopping {
    margin-top: -0.2rem;
}
.menu li a:hover {
    color: var(--red);
    transition: 0.3s;
}
.social a:hover {
    color: var(--red);
    transition: 0.3s;
}
@media (max-width: 1000px) {
    .container {
        display: none;
    }
    .slider {
        display: block;
        background-color: var(--red);
    }
    .slider {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    .slider ul {
        display: flex;
        padding: 0;
        width: 500%;
        animation: cambio 25s infinite alternate;
    }
    .slider li {
        width: 100%;
        list-style: none;
    }
    .slider img {
        width: 100%;
    }
    @keyframes cambio {
        0%{margin-left: 0;}
        18%{margin-left: 0;}
        22%{margin-left: -100%;}
        32%{margin-left: -100%;}
        45%{margin-left: -200%;}
        55%{margin-left: -200%;}
        65%{margin-left: -300%;}
        75%{margin-left: -300%;}
        85%{margin-left: -400%;}
        100%{margin-left: -400%;}
    }
    .extra_titulos1 {
        margin-top: -5px;
    }
    .productos {
        max-width: 400px;
    }
    .zoom {
        max-width: 400px;
    }
}
@media (max-width: 700px) {
    .cabeza {
        flex-direction: column;
        height: 7rem;
    }
    .logo {
        margin-top: 0.5rem;
    }
    .menu {
        margin-bottom: 0.3rem;;
    }
    .productos {
        margin-top: 0;
    }
    .abajo {
        flex-direction: column;
        height: 7rem;
    }
}